:root {
    --main-color: #00d4ff;
}
.head {
    display: flex;
}
.main {
    display: flex;
    min-width: 600px;
    min-height: 600px;
}
.main-table {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 10px;
}
.main-add-content {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 999;
    bottom: 10vh;
    text-align: center;
}
.main-add-box {
    display: flex;
    padding: 16px 20px;
    width: 80%;
    left: 50%;
    justify-content: center;
}