<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfive.pinnacle.mapper.AffairMapper">

    <select id="getSameDepartmentUser" resultMap="userMap">
        select t_user.id            as user_id,
               t_user.username      as user_username,
               t_user.department_id as user_department_id,
               t_user.enable        as user_enable,
               t_user.deleted       as user_deleted,
               t_user.version       as user_version,
               ts.id                as staff_id,
               ts.first_name        as staff_first_name,
               ts.last_name         as staff_last_name,
               ts.deleted           as staff_deleted,
               ts.version           as staff_version,
        from t_user
                 left join (select * from t_staff where deleted = 0) as ts on ts.user_id = t_user.id
        where t_user.id=#{id}
            t_user.deleted = 0;
    </select>

    <resultMap id="userMap" type="user">
        <id property="id" column="user_id"/>
        <result property="username" column="user_username"/>
        <result property="departmentId" column="user_department_id"/>
        <result property="enable" column="user_enable"/>
        <result property="deleted" column="user_deleted"/>
        <result property="version" column="user_version"/>
        <association property="staff" javaType="staff">
            <id property="id" column="staff_id"/>
            <result property="firstName" column="staff_first_name"/>
            <result property="lastName" column="staff_last_name"/>
            <result property="deleted" column="staff_deleted"/>
            <result property="version" column="staff_version"/>
        </association>
    </resultMap>

</mapper>
