<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfive.pinnacle.mapper.DepartmentMapper">
    <select id="getDepartAndUser" resultMap="department">
        select d.id did,name,u.id uid,username from t_department d,t_user u where d.id=u.department_id and d.deleted=0 and u.deleted=0
    </select>
    <resultMap id="department" type="department" autoMapping="true">
        <id column="did" property="id"/>
        <collection property="userList" ofType="user" autoMapping="true">
            <id column="uid" property="id"/>
            <result column="uid" property="id"/>
        </collection>
    </resultMap>
</mapper>
