<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfive.pinnacle.mapper.NoticeMapper">
    <!-- 根据公告id查公告信息及发布人、公告类别名   -->
    <select id="selectByNoticeId" resultMap="NoticeByIdResultMap" parameterType="long">
        select *
        from t_user u,
             t_notice n,
             t_notice_type type
        where u.id = n.sender_id
          and type.id = n.type_id
          and n.id = #{nid}
          and n.deleted = 0
          and n.old = 0
    </select>
    <resultMap id="NoticeByIdResultMap" type="notice" autoMapping="true">
        <association property="sender" javaType="user" autoMapping="true"/>
        <association property="noticeType" javaType="noticeType" autoMapping="true"/>
    </resultMap>

    <!--   分页查询所有公告及模糊查询-->
    <select id="selectPageNotice" resultMap="NoticeAllResultMap" resultType="notice">
        select u.id uid,
        u.username,
        n.id nid,
        n.title,
        n.content,
        n.type_id,
        n.sender_id,
        n.create_time,
        n.send_time,
        n.end_time,
        n.priority,
        n.top,
        n.modify_time,
        n.origin_id,
        type.id typeId,
        type.name,
        type.enable
        from t_notice n
        left join t_notice_type type on n.type_id = type.id
        left join t_user u on n.sender_id = u.id
        <where>
            <if test="null!=title and title!=''">
                and instr(n.title,#{title})&gt;0
            </if>
            <if test="null!=type and type!=''">
                and instr(type.name,#{type})&gt;0
            </if>
            <if test="null!=startTime">
                and n.send_time &gt;= #{startTime}
            </if>
            <if test="null !=endTime">
                and n.end_time &lt; #{endTime}
            </if>
            <if test="null!=userName and userName!=''">
                and u.username = #{userName}
            </if>
            and n.deleted = 0
            and n.old = 0
        </where>
        order by n.top desc, n.create_time desc
    </select>
    <resultMap id="NoticeAllResultMap" type="notice" autoMapping="true">
        <id property="id" column="nid"/>
        <association property="sender" javaType="user" autoMapping="true">
            <id property="id" column="uid"/>
        </association>
        <association property="noticeType" javaType="noticeType" autoMapping="true">
            <id property="id" column="typeId"/>
        </association>
    </resultMap>
</mapper>
