<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfive.pinnacle.mapper.NoticeMapper">
    <!-- 根据公告id查公告信息及发布人   -->
    <select id="selectByNoticeId" resultMap="NoticeByIdResultMap" parameterType="long">
        select *
        from t_user u,
             t_notice t
        where u.id = t.sender_id
          and t.id = #{nid}
          and t.deleted = 0


    </select>
    <resultMap id="NoticeByIdResultMap" type="notice" autoMapping="true">
        <association property="sender" javaType="user" autoMapping="true"/>
    </resultMap>

    <!--  查询所有公告  -->
    <select id="selectAllNoticeId" resultMap="NoticeAllResultMap">
        select *
        from t_user u,
             t_notice t
        where u.id = t.sender_id
          and t.deleted = 0
    </select>
    <resultMap id="NoticeAllResultMap" type="notice" autoMapping="true">
        <association property="sender" javaType="user" autoMapping="true"/>
    </resultMap>
</mapper>
