<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfive.pinnacle.mapper.WorkMapper">
    <resultMap id="workMap" type="work">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="publisherId" column="publisher_id"/>
        <result property="publisherName" column="publisher_name"/>
        <result property="createTime" column="create_time"/>
        <result property="deadline" column="deadline"/>
        <collection property="userWorkList" ofType="userWork">
            <result property="status" column="status"/>
            <result property="completeTime" column="complete_time"/>
        </collection>
        <collection property="worker" ofType="user">
            <id property="id" column="worker_id"/>
            <result property="username" column="worker_name"/>
        </collection>
    </resultMap>
    <select id="getAll" resultMap="workMap">
        select w.id,
               content,
               publisher_id,
               u.username publisher_name,
               create_time,
               deadline,
               tuw.user_id worker_id,
               tu.username  worker_name,
               tuw.status  status,
               tuw.complete_time complete_time
        from t_work w
            left join (select * from t_user where deleted = 0) as u on w.publisher_id = u.id
            left join (select * from t_user_work where deleted = 0) as tuw on w.id = tuw.work_id
            left join (select * from t_user where deleted = 0) as tu on tuw.user_id = tu.id
        where w.deleted = 0
        order by w.id desc;
    </select>
    <select id="getWork" parameterType="long" resultMap="workMap">
        select w.id,
               content,
               publisher_id,
               u.username publisher_name,
               create_time,
               deadline,
               tuw.user_id worker_id,
               tu.username  worker_name,
               tuw.status  status,
               tuw.complete_time completeTime
        from t_work w
                   left join (select * from t_user where deleted = 0) as u on w.publisher_id = u.id
                   left join (select * from t_user_work where deleted = 0) as tuw on w.id = tuw.work_id
                   left join (select * from t_user where deleted = 0) as tu on tuw.user_id = tu.id
        where w.id = #{id}
          and w.deleted = 0;
    </select>
    <select id="getWorkByContent" parameterType="String" resultMap="workMap">
        select w.id,
               content,
               publisher_id,
               u.username publisher_name,
               create_time,
               deadline,
               tuw.user_id       worker_id,
               tu.username        worker_name,
               tuw.status        status,
               tuw.complete_time completeTime
        from t_work w
                 left join (select * from t_user where deleted = 0) as u on w.publisher_id = u.id
                 left join (select * from t_user_work where deleted = 0) as tuw on w.id = tuw.work_id
                 left join (select * from t_user where deleted = 0) as tu on tuw.user_id = tu.id
        where w.content like '%${content}%'
          and w.deleted = 0;
    </select>
    <select id="getTodo" parameterType="long" resultMap="workMap">
        select w.id,
               content,
               publisher_id,
               u.username publisher_name,
               create_time,
               deadline,
               tuw.user_id worker_id,
               tu.username  worker_name,
               tuw.status  status
        from t_work w
                 left join (select * from t_user where deleted = 0) as u on w.publisher_id = u.id
                 left join (select * from t_user_work where deleted = 0) as tuw on w.id = tuw.work_id
                 left join (select * from t_user where deleted = 0) as tu on tuw.user_id = tu.id
        where
            tuw.user_id = #{userId}
          and status = false
          and w.deleted = 0
        order by w.deadline asc, w.id desc;
    </select>
    <select id="getCard" parameterType="long" resultMap="workMap">
        select w.id,
        content,
        publisher_id,
        u.username publisher_name,
        create_time,
        deadline,
        tuw.user_id worker_id,
        tu.username worker_name,
        tuw.status status
        from t_work w
                 left join (select * from t_user where deleted = 0) as u on w.publisher_id = u.id
                 left join (select * from t_user_work where deleted = 0) as tuw on w.id = tuw.work_id
                 left join (select * from t_user where deleted = 0) as tu on tuw.user_id = tu.id
        where tuw.user_id = #{userId}
        and status = false
        and w.deleted = 0
        order by w.deadline asc, w.id desc
        limit 5;

    </select>
    <select id="getComplete" parameterType="long" resultMap="workMap">
        select w.id,
               content,
               publisher_id,
               u.username publisher_name,
               create_time,
               deadline,
               tuw.user_id worker_id,
               u.username  worker_name,
               tuw.status status,
               tuw.complete_time complete_time
        from t_work w
                 left join (select * from t_user where deleted = 0) as u on w.publisher_id = u.id
                 left join (select * from t_user_work where deleted = 0) as tuw on w.id = tuw.work_id
                 left join (select * from t_user where deleted = 0) as tu on tuw.user_id = tu.id
        where tuw.user_id = #{userId}
          and tuw.status = true
          and w.deleted = 0
        order by w.id desc;
    </select>

</mapper>
